<div class="row-fluid">
  <div class="col-xs-8 col-xs-offset-2" id="stopwatch">
    <%= text_field_tag "task", nil, placeholder: "Enter task name here", 
      id: "task_field", role: "task_field" %>
    <%= button_tag "Start", class: "btn btn-primary", role: "stopwatch_button" %>
    <%= label_tag "timer", "00:00:00.0", role: "clock_label" %>
    <%= button_tag "Reset", class: "btn btn-danger", role: "stopwatch_reset" %>
  </div>
</div>
