<section id="projects" role="projects">
  <div class="row" id="create_new_project">
    <%= form_for :project, remote: true do |f| %>
      <div class="col-xs-6 col-xs-offset-2">
        <%= f.text_field :name, placeholder: "New Project Name",
          id: "project_name", role: "project_name", required: true %>
      </div>
      <div class="col-xs-2">
        <%= f.submit "Create New Project", class: "btn btn-success", 
          role: "create_project_button" %>
      </div>
    <% end %>
  </div>

  <div class="row" role="projects_list">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="row">
        <div class="col-xs-12" id="project_header">
          All Projects
        </div>
      </div>
      <% @projects.each do |project| %>
        <%= render "project", project: project %>
      <% end %>
    </div>
  </div>
</section>
