<section id="projects">
  <div class="row" id="create_new_project">
    <div class="col-xs-6 col-xs-offset-2">
      <%= text_field_tag "Create New Project", nil, placeholder: "New Project Name",
        id: "project_field", role: "project_field" %>
    </div>
    <div class="col-xs-2">
      <%= button_tag "Create New Project", class: "btn btn-success" %>
    </div>
  </div>
</section>
