@mixin box_shadow_rounded {
  -moz-box-shadow: 0px 0px 4px 2px #ccc; 
  -webkit-box-shadow: 0px 0px 4px 2px #ccc; 
  box-shadow: 0px 0px 4px 2px #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #c5c5c5;
}

body {
  background-color: #fff;
}

#stopwatch {
  background-color: #fff;
  text-align: center;
  .col-xs-1 { 
    padding: 0; 
  }
  #task_field {
    @include box_shadow_rounded;
    width: 90%;
    padding: 5px 5px 5px 5px;
    margin: 2px 0 2px 0;
  }
  #clock_label {
    margin: -5px 45px 0 -15px;
    font-family: "Alegreya Sans", serif;
    font-size: xx-large;
 }
  #reset_button {
    margin-left: -25px;
  }
}
