@import "shared_mixins";

body {
  background-color: #fff;
}

#stopwatch {
  background-color: #fff;
  text-align: center;
  margin: 30px 0 10px -25px;
  .col-xs-1 { 
    padding: 0; 
  }
  #task_field {
    @include box_shadow_rounded;
    width: 90%;
    padding: 5px 5px 5px 5px;
    margin: 2px 0 2px 0;
  }
  #clock_label {
    margin: -5px 45px 0 15px;
    font-family: "Alegreya Sans", serif;
    font-size: xx-large;
  }
  #reset_button {
    margin-left: -25px;
  }
  #select_project {
    margin: 1px 0 0 -40px;
  }
}

.time_entries_day {
  margin: 30px 0 0 140px;
  .well {
    margin-bottom: 5px;
  }
  .header {
    font-size: large;
    a {
      text-decoration: none;
      color: black;
    }
  }

  .task_list {
    margin-top: 5px;
  }

  .task {
    font-family: "Open Sans", serif;
    .time_span {
      text-align: right;
    }
    .task_duration {
      text-align: right;
      #task_duration_field {
        width: 80px;
        display: none;
      }
    }
  }
}
