.header {
  font-size: large;
}

.task_list {
  margin-top: 5px;
}

.task {
  font-family: "Open Sans", serif;
  #time_span {
    text-align: right;
  }
  #task_duration {
    text-align: right;
  }
}
