<header>
  <nav class="navbar navbar-default">
    <div class="navbar-inner">
      <div class="container-fluid">
        <ul class="nav">
          <li class="navbar-brand">Time Tracker</li>
        </ul>
      </div>
    </div>
  </nav>
</header>
